<!DOCTYPE html>
<html lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120545928-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120545928-1');
</script>
<meta http-equiv="Cache-control" content="private" max-age="604800">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<meta name="description" content="Private Agenda create music to reminisce to, in a variety of shades, from their studios in London and Berlin. Discover Private Agenda's work in detail, find press photos, the official biography and how to get in touch." />
<meta property="og:title" content="Private Agenda" />
<meta property="og:description" content="Private Agenda create music to reminisce to, in a variety of shades, from their studios in London and Berlin. Discover Private Agenda's work in detail, find press photos, the official biography and how to get in touch." />
<meta property="og:image" content="{{ site.url }}/assets/img/temp-peckham-1.jpg" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff"> 
  
    <meta charset="UTF-8">
    <title>Private Agenda</title>

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="/css/style.css" rel="stylesheet">
        {% endif %}
</head>
