<body class="w-100 sans-serif">
    <header class="right-2 pr7-l top-1 fixed z-max">
<div class="dn-l w-100 tr">
            <a class="sMenuToggle helvetica fw5 mb1 ttu f4 link black dim dib">Menu</a>

</div>
            <div id="longMenu" class="dn flex-l flex-column fr-l">
                <a title="PrivateAgendaPrivateAgendaPrivateAgenda etc." href="/" class="helvetica fw5 tr mb1 ttu f4 link black dim dib">
        Private Agenda
      </a>
                <a title="Explore Private Agenda's past releases" href="/discography/" class="helvetica fw5 tr mb1 ttu f4 link black dim dib">
        Discography
      </a>
                <a title="Getting up close and personal..." href="/live/" class="helvetica fw5 tr mb1 ttu f4 link black dim dib">
        Live
      </a>
                <a title="where the work gets done" href="/studio/" class="helvetica fw5 tr mb1 ttu f4 link black dim dib">
        Studio
      </a>
                      <a title="merchandise" href="https://everpress.com/private-agenda-aw18" target="_blank" class="helvetica fw5 tr mb1 ttu f4 link black dim dib">
        Shop
      </a>

      
            </div>

    </header>
   