<section id="selections-index" class="pa3 pa4-ns">


    <div class="cf pa2">
    	{% for item in site.selections %}
        <div class="fl w-100 w-50-ns pa2">
            <a href="{{ item.url }}" class="db link dim tc">
                <img src="{{ item.main-image | absolute_url }}" class="w-100 db outline black-50" />
                <dl class="mt2">
                   
                    <p class="f3 fw4 ml0 truncate w-100">{{ item.title }}</p>
                </dl>
            </a>
        </div>
        {% endfor %}
    </div>



</section>