@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class here
// Like so:
.c-sans-serif {
    font-family: $c-sans-serif;
    font-weight: normal;
}
.c-abril {
	font-family: 'Abril Fatface', cursive;
}

.c-mix-mult {
	mix-blend-mode: multiply;
}

.c-bg-mint-green {
	background-color: $c-mint-green;
}

.c-bg-aqua-blue {
	background-color: $c-aqua-blue;
}

.c-bg-fluoro-yellow {
	background-color: $c-fluoro-yellow;
}

.c-h6 { height: 24rem; }

.c-vh-150 { height: 150vh; }

.c-sticky { position: sticky; 
			top: 0px;}

// Some empty media queries
// Use these if you want to make responsive custom classes

@media #{$breakpoint-not-small} {
	.c-sticky-ns { position: sticky; }
}

@media #{$breakpoint-medium} {
	.c-sticky-m { position: sticky; }
}

@media #{$breakpoint-large} {
	.c-sticky-l { position: sticky; }
}


} // End the enclosing screen/projection media query

// I'm not sure if this is hacky so i'll include it here rather than the reset...
