
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

::-moz-selection {
    background: rgba(113, 190, 180, 0.99);
    color: #000;
}
::selection {
    background: rgba(113, 190, 180, 0.99);
    color: #000;
}