{% include head.html %}
{% include nav-floating.html %}
<main class="">
    <h2 class="f3 fw4 pa3 pa5-ns mv0">A selection of mixes curated by Private Agenda.</h2>

<section id="selections-index" class="pa3 pa4-ns">


    <div class="cf pa2 mw8 center">
    	{% for item in site.selections reversed %}
        <div class="w-100 fl pa2">
            <div class="w-50 fl">
            <a href="{{ item.url }}" class="db link dim tc">
                <img src="{{ item.main-image | absolute_url }}" class="w-100 db black-50" />
                
            </a>
        </div>
        <div class="w-50 fl pt5">
            
            <iframe width="100%" height="120" src="{{ item.mixcloud-embed-link }}" frameborder="0" ></iframe>
            <p>{{ item.description }}</p>
            <p class=""><a href="{{ item.url }}" class="db link dim">Full tracklist for {{ item.title }}</a></p>
        </div>
        </div>
        {% endfor %}
    </div>



</section>

{% include footer-white.html %}

